/* Navigation Section */
#navbar ul li a {
    font-size: 0.8rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/*Services Section */
#services .box img {
    height: 160px;
    width: 180px;
    margin: auto;
    display: block;
}